body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

#centering-wrapper {
  /* background-color: cyan; */
  width: 100%;
  min-width: 1390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-and-content-wrapper {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}

#titlebar-wrapper {
  z-index: 1000;
  background-color: white;

  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 140px;
}

#title-bar {
  height: 80px;
  top: 0px;
  width: 1390px;
  display: flex;
  justify-content: center;
}

#subtitle-bar {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  width: 1390px;
  display: flex;
  justify-content: space-between;
  transition: opacity 500ms ease-in 10s;
}

#menu {
  /* background-color: beige; */
  width: 300px;
  align-self: flex-end;
  margin-left: 20px;
}

#menu-div {
  /* background-color: lightgrey; */
  width: 0px;
  height: 930px;
  overflow: hidden;
}

#title-div {
  z-index: 10000;
  /* background-color: aqua; */
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-slow {
  transition: transform 1s ease-in-out 8s;
}

.title-fast {
  transition: transform 200ms ease-in-out 0s;
}

#contact-div {
  /* background-color: beige; */
  width: 200px;
  text-align: right;
  align-self: flex-end;
  margin-right: 20px;
}

#content-wrapper {
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  transition: transform 1s ease-in-out;
}

#section-one-mercs {
  /* width: calc(100vw + 300px); */
  width: 1390px;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slide-away {
  transform: translate(300px, 0px);
}

#menu-icon {
  transition: transform 1s ease-in-out;
}

.rotate-icon {
  transform: rotate(90deg);
}

#menu-div {
  position: sticky;
  top: 153px;
  left: 0px;
  z-index: -10;
}

.expanded {
  transform: translate(0px, 668px) scale(1, 1);
}

.position-one {
  transform: translate(0px, 468px) scale(0.66, 0.66);
}

.position-final {
  transform: translate(0px, 244px) scale(0.5, 0.5);
}
.behidden {
  opacity: 0;
}

#hugh {
  transition: opacity 4s ease-in-out;
}

#damien {
  transition: opacity 2s ease-in-out 4s;
}

#subtitle {
  transition: opacity 2s ease-in-out 6s;
}

#mercs {
  transition: opacity 500ms ease-in-out 9s;
}

#scroll-arrows {
  transition: opacity 1s ease-in-out 9s;
}

/* customer section */

#spacer {
  height: 300px;
}

.panel {
  width: 1390px;
  position: sticky;
  position: -webkit-sticky;
  top: 140px;
}

.image-box {
  height: 588px;
  background-color: #525252;
  display: flex;
  flex-direction: row;
  color: white;
}

/* #passenger-text {
  width: 468px;
} */

.text-box {
  min-width: 500px;
  max-width: 500px;
  padding: 40px;
}

#section-three-fleet {
  background-color: white;
}

#fleet-text {
  padding: 50px;
}

#passenger-parallax {
  /* height: 100; */
  width: 100%;
  background-color: blueviolet;
  background-image: url("/img/passenger.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#airport-parallax {
  width: 100%;
  /* width: 930px; */
  background-color: blueviolet;
  background-image: url("/img/panel3-airport.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#last-panel {
  position: sticky;
  position: -webkit-sticky;
  top: 140px;
}

#comfort-text {
  background-color: #525252;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#section-eight-contact {
  height: 412px;
  background-color: white;
  display: flex;
  flex-direction: row;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact-text {
  display: flex;
  flex-direction: row;
}

#contact-text-box {
  width: 468px;
}

#inner-box {
  padding-left: 40px;
}

#footer {
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}
