/* GENERAL */

body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: lighter;
  /* overflow-x: hidden; */
}
img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
}

.behidden {
  opacity: 0;
}


/* FRAMEWORK */

#super-div {
  position: fixed;
  height: 140px;
  width: 2000px;
  background-color: white;
  z-index: 500;
}

#centering-wrapper {
  /* background-color: cyan; */
  width: 100%;
  min-width: 1390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-and-content-wrapper {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}

/* TITLEBAR */

#titlebar-wrapper {
  z-index: 1000;
  background-color: white;

  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  height: 140px;
}

#title-bar {
  height: 80px;
  top: 0px;
  width: 1390px;
  display: flex;
  justify-content: center;
}

#subtitle-bar {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  width: 1390px;
  display: flex;
  justify-content: space-between;
  transition: opacity 500ms ease-in 10s;
}

#title-div {
  z-index: 10000;
  /* background-color: aqua; */
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hugh {
  transition: opacity 4s ease-in-out;
}

#damien {
  transition: opacity 2s ease-in-out 4s;
}

#subtitle {
  transition: opacity 2s ease-in-out 6s;
}

.title-slow {
  transition: transform 1s ease-in-out 8s;
}

.title-fast {
  transition: transform 200ms ease-in-out 0s;
}

.expanded {
  transform: translate(0px, 668px) scale(1, 1);
}

.position-one {
  transform: translate(0px, 468px) scale(0.66, 0.66);
}

.position-final {
  transform: translate(0px, 244px) scale(0.5, 0.5);
}

/* SUB TITLE BAR */

#menu-button {
  /* background-color: beige; */
  width: 300px;
  align-self: flex-end;
  margin-left: 20px;
}

#menu-icon {
  transition: transform 1s ease-in-out;
}

.rotate-icon {
  transform: rotate(90deg);
}

#tel-div {
  display: flex;
  justify-content: flex-end;
  /* background-color: beige; */
  width: 400px;
  text-align: right;
  align-self: flex-end;
  margin-right: 20px;
  font-size: x-large;
}

#tel-div img {
  height: 20px;
  align-self: center;
  margin-right: 8px;
}

/* MENU */

#menu-div {
  background-color: rgb(241, 239, 239);
  position: fixed;
  top: 140px;
  height: 587px;
  width: 290px;
  transition: width 1s ease-in-out;
  /* z-index: -1; */
}

#menu-content {
  padding: 30px;
}

#menu-content li {
  color: #525252
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: #525252 solid 1px;
}

.is-closed {
  display: none;
}
.is-open {
  display: block;
}

/* MAIN CONTENT */

#content-wrapper {
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  transition: transform 1s ease-in-out;
}

.slide-away {
  transform: translate(300px, 0px);
}

.panel {
  width: 1390px;
  position: sticky;
  position: -webkit-sticky;
  top: 140px;
}

.image-box {
  height: 588px;
  background-color: #525252;
  display: flex;
  flex-direction: row;
  color: white;
}

.text-box {
  min-width: 468px;
  max-width: 468px;
  padding: 40px;
}

.text-box p {
  margin-top: 20px;
}

.text-box h2 {
  margin-top: 20px;
}

/* MERC PANEL */

#section-one-mercs {
  /* width: calc(100vw + 300px); */
  width: 1390px;
  height: calc(100vh - 140px);
  min-height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#mercs {
  transition: opacity 500ms ease-in-out 9s;
}

#scroll-arrows {
  transform: translate(0px, -34px);
  transition: opacity 1s ease-in-out 9s;
}

/* PASSENGER */

#passenger-parallax {
  width: 100%;
  background-color: #525252;
  background-image: url("/img/passenger.jpg");
  background-size: auto 100%;
  background-position: 100% 140px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* FLEET */

#section-three-fleet {
  height: 680px;
  background-color: white;
}

#fleet-text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fleet-text-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fleet-text-box-text {
  width: 350px;
}

.fleet-text-box-text h2 {
  margin-left: 40px;
}

/* AIRPORT */

#airport-parallax {
  width: 100%;
  background-color: #525252;
  background-image: url("/img/panel3-airport.jpg");
  background-size: auto 100%;
  background-position: 100% 140px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #airport-parallax {
    width: 100%;
    background-color: #525252;
    background-image: url("/img/panel3-airport.jpg");
    background-size: auto 100%;
    background-position: 100% 140px;
    background-repeat: no-repeat;
  }
}

#section-five-feedback {
  background-color: white;
  height: 244px;
}


/* TOURS */

#section-six-tours {
  background-color: white;
  height: 687px;
}

/* COMFORT */



#comfort-text {
  /* height: 268px; */
  background-color: #B1B2B1;
  color: black;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

#comfort-text div {
  width: 900px;
  margin: 40px;
}

#comfort-text h{
  width: 900px;
}


#comfort-text img {
  width: auto;
  height: 60px;
}

/* CONTACT */

#section-eight-contact {
  width: 1390px;
  /* height: 1000px; */
  /* border: black solid 5px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  
  /* color: black; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
}

#contact-wrapper {
  /* min-height: 413px; */
  display: flex;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
}

#contact-text {
  display: flex;
  flex-direction: row;
}

#car-door {
  height: 413px;
  width: 916;
}

#contact-text-box {
  background-color: white;
  color: black;
  padding-top: 40px;
  min-width: 468px;
}

#inner-box {
  padding-top: 40px;
  padding-left: 40px;
  font-size: x-large;
}

/* FOOTER */

#footer {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}
